body {
	border: 0 0 0 0;
	margin: 0 0 0 0;
	background: #f0f0f0;
}

.navbar {
	overflow: hidden;
	background-color: #444;
	color: #000;
	position: fixed;
	top: 0;
	width: 100%;
}

.navbar a.link {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.navbar a.navbar-brand {
	color: #ffffff;
	font-weight: bold
}
.navbar a.navbar-brand:hover {
	color: #ffffff;
	font-weight: bold
}

.navbar a.link:hover {
	background: #848;
}

.main {
	margin-top: 100px;
}

div.results {
	background-color: #fff;
	width: 80%;
	margin-left: 10%;
	margin-top: 100px;
}

div.results > a {
	padding-top: 75px;
}

p.header {
	background: #ccc;
	margin: 0 0 0 0;
	padding: 10px 50px 10px 20px;
	font-size: 1.5em;
}

.shadow {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

tr.active {
	background-color: red;
}
tr.Critical {
	color: red;
	font-weight: bold;
}
tr.High {
	color: red;
}
tr.Medium {
	color: orange;
}
tr.Low {
	color: green;
}
tr.Negligible {
	color: green;
}
